name: Publish to Reposilite
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          server-id: reposilite # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          cache: 'maven'
          distribution: 'temurin'
      - name: Build with Maven
        run: ./mvnw -B package --file pom.xml
      - name: Publish to Reposilite
        run: ./mvnw -B deploy
        env:
          MAVEN_USERNAME: simpleclans
          MAVEN_PASSWORD: ${{ secrets.REPOSILITE_TOKEN }}
